<!-- <ng-container ´*ngTemplateOutlet="flt">

</ng-container>
<ng-container ´*ngTemplateOutlet="flt2">

</ng-container> -->
<ng-container #flt>


	<form [formGroup]="filterFormA" class="container">
		<ng-container formGroupName="date_create">
			<h3>Date created</h3>
			<br>
			<mat-form-field>
				<input matInput [matDatepicker]="pickerS" placeholder="Choose start date" formControlName="gt">
				<mat-datepicker-toggle matSuffix [for]="pickerS"></mat-datepicker-toggle>
				<mat-datepicker #pickerS></mat-datepicker>
			</mat-form-field>
			<br>
			<br>
			<mat-form-field>
				<input matInput [matDatepicker]="pickerE" placeholder="Choose end data" formControlName="lt">
				<mat-datepicker-toggle matSuffix [for]="pickerE"></mat-datepicker-toggle>
				<mat-datepicker #pickerE></mat-datepicker>
			</mat-form-field>
		</ng-container>

	</form>


</ng-container>
<ng-container #flt2>
	<form [formGroup]="filterFormB">
		<!-- {{filterFormB.value|json}} -->
		<div class="filter">
			<h3>Filters</h3>
			<mat-form-field>
				<mat-label>Age</mat-label>
				<input matInput formControlName="age">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Address</mat-label>
				<input matInput formControlName="address">
			</mat-form-field>
		</div>

		<div formGroupName="select">
			<h3>Selects</h3>
			<mat-checkbox formControlName="name">Name </mat-checkbox>
			<mat-checkbox formControlName="lastName"> LastName </mat-checkbox>
		</div>
		<div formGroupName="sort">
			<h3>Sort</h3>
			<h5>ItemB</h5>
			<mat-radio-group formControlName="itemB">
				<mat-radio-button value='1'> ASC </mat-radio-button>
				<mat-radio-button value="-1"> DEC </mat-radio-button>
			</mat-radio-group>
		</div>

	</form>
</ng-container>


<ng2-filter 
[template]="tpl" 
 [filters]="filters" 
 (out)="out($event)"
	(raw)="raw($event)">

</ng2-filter>
<ng-template #tpl>
	<form (onSubmit)="submit()">
		<mat-form-field>
			<mat-label>Term</mat-label>
			<input matInput type="text" [formControl]="term" />

		</mat-form-field>
		<button type="submit" (click)="submit()">Search</button>
	</form>

</ng-template>